<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- External CSS stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/6.4.0/css/all.css" />
    <link href="/css/jquery-ui-1.12.1.custom/jquery-ui.theme.css" rel="stylesheet">
    <link sec:authorize="isAuthenticated()" rel="stylesheet" th:href="'/css/' + ${user.startingArea} + '/createjob.css'">
    <link sec:authorize="isAnonymous()" rel="stylesheet" href="/css/createjob.css">

    <!-- External JavaScript libraries -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Create Job</title>
</head>
<body>

<!--NAVBAR-->
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">SC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-lines-leaning lines-leaning"></i>
    </button>

    <div class="collapse navbar-collapse nav-div" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/jobs}">Job Board</a>
            </li>
            <li  class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a th:if="${user?.getId() != null}" class="dropdown-item" th:href="@{/jobs/createjob}">Create Job</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" th:href="@{/signup}">Sign Up</a>
            </li>
            <li class="logout dropdown img-dropdown" sec:authorize="isAuthenticated()">
                <!--                Proifle picture dropdown menu-->
                <img class="picture-nav dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:src="${user.getProfilePic()}" alt="profile picture">
                <div class="dropdown-menu dropdown-menu-bottom" aria-labelledby="dropdownMenu2">
                    <a class="dropdown-item" th:href="@{${userUrl}}">Profile</a>
                    <a class="dropdown-item" th:href="@{/}">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>


<!--    JOB CREATION FORM-->
<div class="container-center">
    <form class="jobform" th:action="@{/jobs/createjob}" method="POST" th:object="${job}">
        <!--        title-->
        <label for="title">Title</label>
        <input type="text" name="title" id="title" th:field="*{title}" placeholder="Bounties">
<!--        <input type="hidden" name="creatorEmail" id="creatorEmail" th:value="${user.getEmail()}" th:field="*{creatorEmail}">-->
        <!--        Description-->
        <label for="description">Description</label>
        <textarea id="description" th:field="*{description}" placeholder="Grouping up for ERT's"></textarea>
        <label for="datepicker">Start Date</label>
        <input type="text" id="datepicker" th:field="*{startDate}" th:value="${#dates.format(job.startDate, 'yyyy-MM-dd')}" placeholder="mm/dd/yyyy">

        <!--            <input type="hidden" th:field="*{createdDate}">-->
        <input type="hidden" th:field="*{createdDate}" th:value="${#temporals.format(job.createdDate, 'yyyy-MM-ddTHH:mm:ss.SSS')}">

        <!--        Threat Level-->
        <label for="threat">Threat Level</label>
        <select id="threat" name="dropdown" th:field="*{threat}">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
            <option value="Very High">Very High</option>
            <option value="Extreme">Extreme</option>
        </select>
        <!--        Payment Percent-->
        <label for="paymentPercent">Payment Percent</label>
        <input id="paymentPercent" type="number" min="1" max="100" th:field="*{paymentPercent}" placeholder="20%">
        <!--        Job Status-->
        <input type="hidden" th:field="*{jobStatus}">
        <!--        Starting location-->
        <label for="location">Starting Location</label>
        <input id="location" type="text" th:field="*{startLocation}" placeholder="starting location">
        <!--        Distance to mission-->
        <label for="distance">Distance to travel</label>
        <input id="distance" type="text" th:field="*{distance}" placeholder="40 m/km">
        <!--        this will change to authorization later-->
        <input type="hidden" th:field="*{creatorId.id}">

        <!--        Job category tags-->
        <label>Categories</label>
        <div class="categories" th:object="${category}">
            <div class="cat-group">
                <input id="bounty" type="checkbox" th:field="*{bounty_hunting}" />
                <label for="bounty">Bounties</label>
            </div>
            <div class="cat-group">
                <input id="illegal" type="checkbox" th:field="*{illegal}" />
                <label for="illegal">Illegal</label>
            </div>
            <div class="cat-group">
                <input id="mining" type="checkbox" th:field="*{mining}" />
                <label for="mining">Mining</label>
            </div>
            <div class="cat-group">
                <input id="combat" type="checkbox" th:field="*{combat}" />
                <label for="combat">Combat</label>
            </div>
            <div class="cat-group">
                <input id="salvage" type="checkbox" th:field="*{salvage}" />
                <label for="salvage">Salvage</label>
            </div>
            <div class="cat-group">
                <input id="trading" type="checkbox" th:field="*{trading}" />
                <label for="trading">Trading</label>
            </div>
            <div class="cat-group">
                <input id="exploring" type="checkbox" th:field="*{exploring}" />
                <label for="exploring">Exploring</label>
            </div>
            <div class="cat-group">
                <input id="delivery" type="checkbox"  th:field="*{delivery}" />
                <label for="delivery">Delivery</label>
            </div>
            <div class="cat-group">
                <input id="pvp" type="checkbox" th:field="*{pvp}" />
                <label for="pvp">PVP</label>
            </div>
            <div class="cat-group">
                <input id="pve" type="checkbox" th:field="*{pve}" />
                <label for="pve">PVE</label>
            </div>
            <div class="cat-group">
                <input id="rolePlay" type="checkbox" th:field="*{rolePlay}" />
                <label for="rolePlay">RolePlay</label>
            </div>
            <input name="jobId" type="hidden" th:field="*{jobId.id}" />
        </div>

        <!--        Submit button-->
        <input class="text-dark" type="submit" value="Submit">
    </form>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--    The jquery is TBD-->
    <script>
        $(function() {
            $("#datepicker").datepicker();
        });
    </script>
</body>
</html>