<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
<div class="jumbotron">
    <video src="/static/assets/vid/olisar.mp4" autoplay loop muted></video>
</div>
<h1>Star Contractor</h1>
<p class="info">Star Contractor was built by gamers for gamers. Meant to connect star citizens to each other to team up, do jobs
    together, or just make a good friend. Our goal is to connect each citizen like a star to make a constellation that lasts forever. Blah blahblah b blah blah blhahah sjc caoscn asoci aonsc oansc aonvk asocvnak cvonakds cvonasdv ckav</p>

<div class="image-gallery">
    <img src="/static/assets/img/area18.jpg" alt="Area 18">
    <img src="/static/assets/img/LorvilleV2.jpeg" alt="Lorville">
    <img src="/static/assets/img/newBabbage.jpg" alt="New Babbage">
    <img src="/static/assets/img/OrisonV1.png" alt="Orison">
</div>
<button>Sign Up</button>

<script src="/static/js/home.js"></script>
</body>
</html>