<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rate Page</title>
</head>
<body>
  <form th:action="@{/rate-host}" method="post">
    <input type="hidden" name="userId" th:value="${userId}" />
    <input type="hidden" name="jobId" th:value="${jobId}" />

    <label for="ratingValue">Rating:</label>
    <input id="ratingValue" type="number" name="ratingValue" required />

    <button type="submit">Submit Rating</button>
  </form>
</body>
</html>