<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<div>
    <h1 th:text="${singleJob.getTitle()}"></h1>
    <div th:each="applicant : ${singleJob.getApplicantList()}">
    <h1 th:text="*{applicant.username}"></h1>
    </div>
    <div th:each="cat : ${category}">
        <h2 th:if="${cat.bounty_hunting}">Bounty Hunting</h2>
        <h2 th:if="${cat.combat}">Combat</h2>
        <h2 th:if="${cat.delivery}">Delivery</h2>
        <h2 th:if="${cat.exploring}">Exploring</h2>
        <h2 th:if="${cat.illegal}">Illegal</h2>
        <h2 th:if="${cat.mining}">Mining</h2>
        <h2 th:if="${cat.pve}">PvE</h2>
        <h2 th:if="${cat.pvp}">PvP</h2>
        <h2 th:if="${cat.rolePlay}">RolePlay</h2>
        <h2 th:if="${cat.salvage}">Salvage</h2>
        <h2 th:if="${cat.trading}">Trading</h2>
    </div>
</div>
</body>
</html>