<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- External CSS stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link sec:authorize="isAuthenticated()" rel="stylesheet" type="text/css" th:href="'/css/' + ${user.startingArea} + '/jobdetails.css'">
    <link sec:authorize="isAnonymous()" rel="stylesheet" type="text/css" href="/css/jobdetails.css">
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />-->
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/6.4.0/css/all.css" />

    <!-- External JavaScript libraries -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title th:text="${singleJob.getTitle()}"></title>
</head>
<body>

<!--NAVBAR-->
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">SC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse nav-div" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/jobs}">Job Board</a>
            </li>
            <li  class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" th:href="@{/signup}">Sign Up</a>
            </li>
            <li class="logout" sec:authorize="isAuthenticated()">
                <!--                <a class="nav-link" th:href="@{/profile/{id}(id=${userProfileLink.getId()})}">Profile</a>-->
                <a class="nav-link" th:href="@{${userUrl}}">Profile</a>
            </li>
            <li class="logout" sec:authorize="isAuthenticated()">
                <a class="btn-link btn nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!--Flexbox for the page-->
<div class="page-wrapper">
    <!--    Flexbox for the comments and job details-->
    <section class="section-wrapper">
        <!--Job Card -->
        <div class="job-card">
            <!--    Job Title-->
            <div class="card-head">
                <h1 class="job-title" th:text="${singleJob.getTitle()}"></h1>
                <h4 class="gold-text" th:text="'Pay Split: ' + ${singleJob.getPaymentPercent()} + '%'"></h4>
            </div>


            <!--    Job Description-->
            <div class="job-description">
                <h6 th:text="${singleJob.getDescription()}"></h6>
            </div>

            <!--    Middle Section of page-->
            <div class="middle-section">
                <!--    Applicant List-->
                <div class="applicant-list">
                    <h2><u>Applicants List</u></h2>
                    <div th:each="applicant : ${singleJob.applicantList}">
                        <a th:href="@{/profile/{id}(id=${applicant.id})}" th:text="${applicant.username}"></a>
                    </div>
                </div>
                <!--        Start Date-->
                <div>
                    <h6 th:text="'Start Date: ' +${singleJob.getStartDate()}"></h6>
                </div>
            </div>

            <!-- Apply/Leave Job buttons -->
            <div th:unless="${singleJob.creatorId.getId() == user.id}">
                <div th:if="${#lists.contains(singleJob.applicantList.![id], user.id)}">
                    <form class="leave-button" th:action="@{/jobs/remove/{id}(id=${singleJob.id})}" method="POST">
                        <input id="userIdRemove" name="userIdRemove" type="hidden" th:value="${user.id}">
                        <button class="leave-button">Leave Job</button>
                    </form>
                </div>
                <div th:unless="${#lists.contains(singleJob.applicantList.![id], user.id)}">
                    <form class="apply-button" th:action="@{/jobs/apply/{id}(id=${singleJob.id})}" method="POST">
                        <input id="userId" name="userId" type="hidden" th:value="${user.id}">
                        <button class="apply-button">Apply</button>
                    </form>
                </div>
            </div>

            <!--    Creator tag-->
            <div class="card-footer">
                <h6 th:if="${singleJob.getCreatedDate() != null}"
                    th:text="'Posted on: ' + ${#temporals.format(singleJob.getCreatedDate(), 'MM-dd-yyyy')} + ' @ ' + ${#temporals.format(singleJob.getCreatedDate(), 'h:mm a')}">
                </h6>
                <h6 class="job-creator" th:text="'Posted By: ' + ${singleJob.getCreatorId().getUsername()}"></h6>
                <h6 th:if="${singleJob.getCreatorId().getAvgRating() != null}"
                    th:text="'Creators Rating: ' + ${singleJob.getCreatorId().getAvgRating()}">
                </h6>
            </div>

            <!--    Categories-->
            <div class="categories" th:each="cat : ${category}">
                <a class="categories-item" th:if="${cat.bounty_hunting}" th:href="@{/jobs?bountyHunting=true}">#Bounty Hunting</a>
                <a class="categories-item" th:if="${cat.combat}" th:href="@{/jobs?combat=true}">#Combat</a>
                <a class="categories-item" th:if="${cat.delivery}" th:href="@{/jobs?delivery=true}">#Delivery</a>
                <a class="categories-item" th:if="${cat.exploring}" th:href="@{/jobs?exploring=true}">#Exploring</a>
                <a class="categories-item" th:if="${cat.illegal}" th:href="@{/jobs?illegal=true}">#Illegal</a>
                <a class="categories-item" th:if="${cat.mining}" th:href="@{/jobs?mining=true}">#Mining</a>
                <a class="categories-item" th:if="${cat.pve}" th:href="@{/jobs?pve=true}">#PvE</a>
                <a class="categories-item" th:if="${cat.pvp}" th:href="@{/jobs?pvp=true}">#PvP</a>
                <a class="categories-item" th:if="${cat.rolePlay}" th:href="@{/jobs?rolePlay=true}">#RolePlay</a>
                <a class="categories-item" th:if="${cat.salvage}" th:href="@{/jobs?salvage=true}">#Salvage</a>
                <a class="categories-item" th:if="${cat.trading}" th:href="@{/jobs?trading=true}">#Trading</a>

                <!--                EDIT JOB BUTTONS-->
                <div th:if="*{singleJob.getCreatorId()?.getId() == user?.getId()}" class="nav-item dropdown change-btn">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Make changes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/jobs/editjob/{id}(id=*{singleJob.getId()})}">Edit Job</a>
                        <button class="dropdown-item" th:attr="onclick=${'deleteJob('''+singleJob.getId()+''')'}">Remove Job</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" onclick="showCompleteJobForm()">Complete Job</button>
                    </div>

                    <div id="completeJobModal" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close" onclick="closeCompleteJobForm()">&times;</span>
                            <h2>Complete Job</h2>
                            <form id="completeJobForm" th:object="${singleJob}" th:action="@{/jobs/complete/{id}(id=${singleJob.id})}"
                                  method="post" onsubmit="return validateForm();">
                                <label for="status">Is this Job complete</label>
                                <select id="status" th:field="*{jobStatus}">
                                    <option value="Complete">Complete</option>
                                    <option value="Active">On going?</option>
                                </select>
                                <label for="outcome">What was the outcome?</label>
                                <select id="outcome" th:field="*{outcome}">
                                    <option th:value=true>Success</option>
                                    <option th:value=false>Failed</option>
                                </select>
                                <input type="submit" value="submit" class="btn modal-btn"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--        Comment section-->
        <div class="comments">
            <div th:each="comment : ${comments}">
                <div class="comment-section">
                    <div class="d-flex justify-content-between">
                        <div>
                            <img class="profile-thumbnail" th:src="${comment.user.profilePic}">
                            <p th:text="*{comment.user.username}"></p>
                        </div>
                        <form th:if="${comment.getUser()?.getId() == user.getId() }"
                              th:action="@{/jobs/{jobId}/comment/{commentId}/delete(jobId=${singleJob.id}, commentId=${comment.id})}"
                              method="post">
                            <button type="submit" class="btn btn-link text-dark font-icon">
                                <i class="fa-solid fa-trash text-dark font-icon"></i>
                            </button>
                        </form>
                    </div>
                    <p class="comment-text" th:text="*{comment.content}"></p>
<!--                   TODO: add dates to comments later-->
<!--                    <h6 th:text="*{comment.getDate}"></h6>-->
                </div>
            </div>
            <form class="comment-form" th:action="@{/jobs/{id}/comment(id=${singleJob.id})}" method="post">
                <input name="commentContent" type="text" placeholder="Leave a Comment">
                <button type="submit">Submit Comment</button>
            </form>
        </div>
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    let csrfToken = /*[[${_csrf.token}]]*/ null;
</script>
<script src="/js/jobdetails.js"></script>
</body>
</html>
