<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>Profile</title>

    <link rel="stylesheet" th:href="'/css/' + ${userProfileLink.startingArea} + '/profile.css'">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <!--                <a class="nav-link" th:href="@{/profile/{id}(id=${userProfileLink.getId()})}">Profile</a>-->
                <a class="nav-link" th:href="@{/profile/{id}(id=*{user.id})}">Profile<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/jobs}">Job Board</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" th:href="@{/signup}">Sign Up</a>
            </li>

            <li>
                <div sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div>
    <div class="jumbotron" th:if="${userProfileLink.startingArea} == 'Lorville'">
        <img src="/assets/img/LorvilleV2.jpeg">
    </div>
    <div class="jumbotron" th:if="${userProfileLink.startingArea} == 'New Babbage'">
        <img src="/assets/img/newBabbage.jpg">
    </div>
    <div class="jumbotron" th:if="${userProfileLink.startingArea} == 'Area 18'">
        <img src="/assets/img/area18.jpg">
    </div>
    <div class="jumbotron" th:if="${userProfileLink.startingArea} == 'Orison'">
        <img src="/assets/img/OrisonV2.webp">
    </div>
    <div class="jumbotron" th:if="${userProfileLink.startingArea} == 'Grim Hex'">
        <img src="/assets/img/GrimV2.jpeg">
    </div>


</div>
<div>
    <img class="profile-picture" th:src="${userProfileLink.profilePic}">
    <h1 th:if="${userProfileLink.id} == ${user.id}" th:text="'Welcome, ' + ${userProfileLink.username} + '!'"></h1>
    <div th:unless="${userProfileLink.id} == ${user.id}">
        <h1 th:text="${userProfileLink.username}"></h1>

        <div th:if="${userProfileLink.friendsList.contains(user)}">
            <form th:action="@{/profile/remove/{id}(id=${userProfileLink.id})}" method="POST">
                <button>Remove Friend</button>
            </form>
        </div>

        <div th:unless="${userProfileLink.friendsList.contains(user)}">
            <form th:action="@{/profile/add/{id}(id=${userProfileLink.id})}" method="POST">
                <button>Add Friend</button>
            </form>
        </div>
    </div>


</div>
<div>
    <h1 th:text="'Home: ' + ${userProfileLink.startingArea}"></h1>
</div>
<h3 th:if="${userProfileLink.id == user.id}">My Jobs</h3>
<h3 th:unless="${userProfileLink.id == user.id}" th:text="${userProfileLink.username} + '\'s Jobs'"></h3>

<div th:each="myJob : ${myJobs}">
    <a class="Card" th:href="@{/jobs/{id}(id=*{myJob.getId()})}">
        <h1 th:text="*{myJob.getTitle()}"></h1>
        <h1 th:text="'Payment: ' + *{myJob.getPaymentPercent()} + '%'"></h1>
    </a>
</div>
<h3>Applied Jobs</h3>
<div th:each="appliedJob : ${appliedJobs}">
    <a class="Card" th:href="@{/jobs/{id}(id=*{appliedJob.getId()})}">
        <h1 th:text="*{appliedJob.getTitle()}"></h1>
        <h1 th:text="'Payment: ' + *{appliedJob.getPaymentPercent()} + '%'"></h1>
    </a>
</div>

<div th:if="${userProfileLink.id == user.id}">
    <a th:href="@{/profile/edit/{userId}(userId=${userProfileLink.id})}">Edit Profile</a>
    <label for="upload"></label>
    <button th:if="${user.getId() == userProfileLink.getId()}" type="button" id="upload"
            class="button-Pro picture-btn" name="upload">Profile Picture
    </button>
    <form th:action="@{/profile/upload}" th:method="POST" id="submitMePls">
        <input id="stashFilestackURL" name="stashFilestackURL" type="hidden" value="">
    </form>
</div>
<div th:unless="${userProfileLink.id == user.id}">
    <form>
        <button>Rate</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var filestackapi = [[${filestackapi}]];
    console.log(filestackapi);
    /*]]>*/

    const client = filestack.init(filestackapi);
    // client.picker().open();

    $("#upload").click(function () {
        client.picker(options).open()
    });
    const options = {
        onUploadDone:
            function (res) {
                $("#stashFilestackURL").val(res.filesUploaded[0].url);
                document.getElementById("submitMePls").submit();
            }
    }
    // document.getElementById("submitMePls").submit();
    $("#uploadBanner").click(function () {
        client.picker(optionsBanner).open()
    });
    const optionsBanner = {
        onUploadDone:
            function (res) {
                $("#stashFilestackURLBanner").val(res.filesUploaded[0].url);
                document.getElementById("submitBanner").submit();
            }
    }
</script>
</body>
</html>