<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body>
    <form th:action="@{/register}" method="post" th:object="${user}">
        <label for="username">Username</label>
            <input id="username" type="text" th:field="*{username}" placeholder="nine tails">
        <label for="email">Email</label>
            <input id="email" type="email" th:field="*{email}" placeholder="example@email.com">
        <label for="password">Password</label>
            <input id="password" type="password" th:field="*{password}" placeholder="Password123!">
        <label for="startingArea">Starting Area</label>
            <input id="startingArea" type="text" th:field="*{startingArea}">
        <input type="submit" value="submit">
    </form>
</body>
</html>