/*LORVILLE NAVBAR*/
.nav-div {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-login {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar-collapse {
    align-items: unset;
}

.dropdown-menu {
    background-color: #222222;
}

.navbar {
    background-color: #222222;
    color: gold;
    border-bottom:2px solid gold;
    text-decoration: none;
}

.dropdown-item {
    color: gold;
}

.nav-item,
.nav-link,
.dropdown-item-custom {
    color: gold;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
}

/*Searchbar with dropdown menu*/
.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20%;
    padding: 1em;
}

.custom-dropdown {
    min-width: 30%;
}

.dropdown-item-custom {
    display: block;
    width: 50%; /* Adjust this value to set the desired width for each column */
}

.dropdown-menu-custom {
    display: none;
    visibility: hidden;
    position: absolute;
}

.dropdown-menu-custom.show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    visibility: visible;
    min-width: 100%;
    min-height: 350px;
    color: gold;
}

.searchinput {
    color: white;
    border-radius: 2em;
}

.searchBtn {
    border-radius: 1em;
    color: cornsilk;
}

.createBtn {
    background-color: darkslategray;
    border: 1px solid gold;
    border-radius: 1em;
}

.createBtn:hover {
    background-color: darkslategray;
    border: 1px solid gold;
    border-radius: 1em;
    opacity: 0.8;
}

.createBtn:focus {
    padding: 5px;
}


/*JOB CARDS*/
.jobs-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 60%;
    min-height: fit-content;
    border-radius: 2em;
    margin: auto;
    z-index: 1;
    background-color: #222222;
    padding: 1em;
}

.job-card {
    width: 45%;
    margin: 10px;
    border-radius: 3em;
    text-decoration: none;
    border-left: 2px solid goldenrod;
    border-right: 2px solid goldenrod;
    border-top: 2px solid goldenrod;
}

.card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 25px;
    border: 2px solid black;
    background-color:  #222222;
    color: gold;
}

.card-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    color: gold;
    font-size: 25%;
}

.card-head2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    color: gold;
    font-size: 25%;
}

.card-head:hover {
    text-decoration: none;
    color: red;
}

.card-desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100px;
    border-radius: 1em;
    border: 2px solid goldenrod;
    background: gray;
    width: 80%;
    align-items: center;
    align-self: center;
    padding: 10px;
}

.card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    margin-top: 1em;
    color: gold;
}

.details-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.details-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.details-2 a {
    color: gold;
    text-decoration: none;
}

.details-2 a:hover {
    color: red;
}

.active {
    color: red;
}

.complete {
    color: green;
}

/*BG-VIDEO*/
.job-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -9999;
}
