@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Space+Mono&display=swap');

.profile-picture {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.friendPic {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}
.background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -9999;
}

.profile-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
}

.friends-list {
    min-width: 20vw;
    min-height: 60vh;
    border: 3px solid limegreen;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 40vw;
    min-height: 60vh;
    border: 2px solid gold;
    border-radius: 2em;
    box-shadow: 0 0 6px gold;
    background: rgba(100, 100, 100, 0.8);
}

.jobCard {
    display: flex;
    width: 90%;
    height: 70px;
    border: 2px solid black;
    border-radius: 1em;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}

.jobLink {
    display: flex;
    flex-direction: row;
    color: gold;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 1em;
}

.jobLink:hover {
    color: black;
    box-shadow: 1px 2px 3px gold;
    text-decoration: none;
}

.messages {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    min-width: 20vw;
    border: 2px solid limegreen;
}

/*LORVILLE NAVBAR*/
.dropdown-menu {
    background-color: #222222;
}

.navbar {
    background-color: #222222;
    color: gold;
    border-bottom:2px solid gold;
    text-decoration: none;
}

.nav-item,
.nav-link,
.dropdown-item {
    color: gold;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
}