@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Orbitron:wght@500&family=Space+Mono&display=swap');

body {
    background-color: gray;
}

/*Navbar*/
.navbar {
    border-bottom: 2px solid #6F00FF;
    background-color: #E0E0E0;
}

.nav-item,
.nav-link,
.dropdown-item{
    text-decoration: none;
    color: black;
    font-family: 'Orbitron', sans-serif;
}

.nav-item:hover,
.nav-link:hover,
.dropdown-item:hover{
    color: #6F00FF;
    text-shadow: #001F3F ;
}

.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20%;
    padding: 1em;
}


.custom-dropdown {
    min-width: 30%;
}

.dropdown-item {
    display: block;
    width: 50%; /* Adjust this value to set the desired width for each column */
}

.dropdown-menu {
    display: none;
    visibility: hidden;
    position: absolute;
}

.dropdown-menu.show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    visibility: visible;
    min-width: 100%;
    min-height: 350px;
}

.searchinput {
    color: white;
    border-radius: 2em;
}

.searchBtn {
    border-radius: 1em;
    color: cornsilk;
}

.createBtn {
    background-color: #E0E0E0;
    border: 1px solid #6F00FF;
    border-radius: 1em;
    text-decoration: none;
    color: black;
    font-family: 'Orbitron', sans-serif;
}

.createBtn:hover {
    background-color: #E0E0E0;
    border: 1px solid #6F00FF;
    border-radius: 1em;
    opacity: 0.8;
}

.createBtn:focus {
    padding: 5px;
}

.jobs-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 60%;
    min-height: fit-content;
    border-radius: 2em;
    margin: auto;
    z-index: 1;
    background-color: #222222;
}

.job-card {
    width: 45%;
    margin: 2px;
    border-radius: 3em;
    text-decoration: none;
    border-left: 2px solid #6F00FF;
    border-right: 2px solid #6F00FF;
    border-top: 2px solid #6F00FF;
}

.card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 25px;
    border: 2px solid #001F3F;
    background-color: #E0E0E0;
    color: black;
}

.card-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    font-size: 25%;
}

.card-desc {
    display: flex;
    justify-content: center;
    min-height: 100px;
    border-radius: 1em;
    border: 2px solid #6F00FF;
    background: gray;
    width: 80%;
    align-items: center;
    align-self: center;
    padding: 10px;
}

.card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    margin-top: 1em;
}

.details-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.details-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: space-around;
    list-style: none;
    color: black !important;
    font-family: 'Orbitron', sans-serif;
}

.cat-link {
    color: black;
}

.cat-link:hover {
    color: #6F00FF;
}

.active {
    color: red;
}

.complete {
    color: green;
}

.job-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -9999;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.pagination ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.pagination li {
    display: inline;
    margin: 0 5px;
}

.pagination .page-link {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 3px;
}

.pagination .page-link:hover {
    background-color: #ddd;
}

.pagination .active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.pagination .active .page-link:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
    color: black;
}
